@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&display=swap');
body {
	background-image: url("sexy-aффss-butt-fitness-toned.jpg");  
}
#gall {
  position: relative;
  padding-top: 50%;
  -moz-user-select: none; user-select: none;
}
#gall img {
  position: absolute;
  top: 25%;
  left: 12.5%;
  max-width: 24.5%;
  max-height: 49.5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: zoom-in;
  transition: .2s;
}
#gall img:nth-child(4n-2) {left: 37.5%;}
#gall img:nth-child(4n-1) {left: 62.5%;}
#gall img:nth-child(4n) {left: 87.5%;}
#gall img:nth-child(n+5) {top: 75%;}

#gall img:focus {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  outline: none;
  pointer-events: none;
}
#gall img:focus ~ div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  cursor: zoom-out;
}

.spisok_text {
	font-size: 15px;
	margin-left: 14px;		
}
.text2 {	
font-size: 15px;
	margin-left: 14px;	
}

.text1 {	
font-size: 15px;
	margin-left: 14px;	
}

.text {	
	font-size: 15px;
	margin-left: 14px;
}
hr {
	border-color: Yellow;	
}
h1 {
	margin-left: 20px;
	margin-top: 20px;
	font-size: 40px;
}

* {
	
	box-sizing:border-box;
	margin:0;
	padding:0;
	
}


SELECT {
	margin-top: 20px;
}
* {
	box-sizing:border-box;
	margin-top:0;
	padding:0;	
}
li,a,button {
	
font-family: "Oswald";
font-weight:500;
font-size: 14px;
color:#F4A460; /* ЦВЕТ - ГЛАВНАЯ, КАТАЛОГ, КОНТАКТЫ*/
text-decoration:none;	
}
header {  /*САМО МЕНЮ*/
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:30px 10%;
	height:90px;
	background-color:black ; /*ФОН МЕНЮ*/
	
}
.logo {
	cursor: pointer;
	width:185px;
}
.menu {
	
	list-style:none;
}
.menu li {
	
	display: inline-block;
	padding: 20px 40px;
}
.menu li a {
	transition: all .3s ease 0s;
	
}
.menu li a:hover {
	color: black; /*ЦВЕТ ПРИ НАВЕДЕНИИ НА пункты меню */
}
.menu li:hover ul{
	display:block;
}
.menu li: hover li {
	display: block;
	
}
.podmenu {
	display: none;
	position: absolute;
	background-color: black; /*ЦВЕТ ВЫПАДАЮЩЕГО МЕНЮ */
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
	z-index:1;
}
.podmenu a{
	color: #FF8C00; /*Цвет текста выпадающего под меню*/
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.podmenu a:hover {background-color: #FF8C00;}
.menu a:hover {background-color: #FF8C00;}


ul.menu > li:hover > ul.baz {
	
display: block;
	
}